<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adindar.myclass">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.adindar.myclass.DetailData"
            android:parentActivityName="com.adindar.myclass.DetailData"/>
        <activity android:name="com.adindar.myclass.UpdateData"
            android:parentActivityName="com.adindar.myclass.UpdateData"/>
        <activity android:name="com.adindar.myclass.Informasi"
            android:parentActivityName="com.adindar.myclass.Informasi"/>
        <activity android:name="com.adindar.myclass.InputData"
            android:parentActivityName="com.adindar.myclass.InputData"/>
        <activity android:name="com.adindar.myclass.DataMahasiswa" android:parentActivityName="com.adindar.myclass.DataMahasiswa" />
        <activity android:name="com.adindar.myclass.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DataMahasiswa$DataMahasiswa" />
    </application>

</manifest>